name: CI

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/test@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
#  # lint-oss tries to run this action against open source repositories not in
#  # open-turo to make sure this is usable outside the org.
#  # Repositories added to this list should have pre-commit hooks that don't
#  # require external tooling to be installed.
#  # Repositories added to this list must have passing pre-commit hooks.
#  lint-oss:
#    name: Lint / Open source
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        repos:
#          - disposable/disposable
#          - cloud-custodian/cloud-custodian
#          - aws/aws-sdk-pandas
#          - google/uv-metrics
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          repository: ${{ matrix.repos }}
#      # TODO: Remove branch reference
#      - uses: open-turo/actions-python/lint@fix/update-action-pre-commit-to-v2
#        with:
#          checkout-repo: false
#        # with:
#        #   github-token: ${{ secrets.GITHUB_TOKEN }}
#
#  # test-oss tries to run this action against open source repositories not in
#  # open-turo to make sure this is usable outside the org.
#  # Repositories added to this list should be pyproject.toml based repositories.
#  # Repositories added to this list must have passing builds.
#  test-oss:
#    name: Test / Open source
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        repos:
#          - aws/aws-sdk-pandas
#          - copier-org/copier
#          - hvac/hvac
#          - tiangolo/asyncer
#          - tiangolo/fastapi
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          repository: ${{ matrix.repos }}
#      # TODO: Remove branch reference
#      - uses: open-turo/actions-python/test@fix/update-action-pre-commit-to-v2
#        with:
#          checkout-repo: false
#          github-token: ${{ secrets.GITHUB_TOKEN }}
